#Import Libraries

In [2]:
import os 
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

#Merge Data all CSV files into one

df = pd.read_csv('./Sales_Data/Sales_April_2019.csv")
files = [file for file in os.listdir('./Sales_Data')

all_month_data = pd.DataFrame()
         
for file in files:
         df = pd.read_csv('./Sales_Data/' +file)
         all_months_data = pd.concat([all_months_data, df])
all_months_data.to_csv('all_data.csv', index=False)

#Read In updated dataframe

In [5]:
all_data = pd.read_csv('all_data.csv')
all_data.head()

NameError: name 'pd' is not defined

#Clean up the DATA

#Drop rows of NAN

In [ ]:
nan_df = all_data[all_data.isna().any(axis=1)]
display(nan_df.head())

all_data = all_data.dropna(how='all')
all_data.head()

#Get rid of text in order date column

In [ ]:
all_data = all_data[all_data['Order Date'].str[0:2]!='Or']

#Make columns Correct type

In [ ]:
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'])
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])

#Augment Data with Additional Columns

#Add month Column

In [9]:
all_data['Month'] = all_data['Order Data'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

NameError: name 'all_data' is not defined

#Add sales column

In [11]:
all_data['Sales'] = all_data['Quantity Ordered']*all_data['Price Each']
all_data.head()

NameError: name 'all_data' is not defined

#Add City Column

In [13]:
all_data['City'] = all_data['Purchase Address'].apply(lambda x: xplit(',')[1])
all_data.head()

NameError: name 'all_data' is not defined

#DATA EXPLORATION!

Question 1: What was the best month for sales? How Much was earned that Month?

In [1]:
all_data['Sales'] = all_data['Quantity Ordered'].astype('int')*all_data['Price Each'].astype('float')

NameError: name 'all_data' is not defined

In [2]:
all_data.groupby(['Month']).sum()

NameError: name 'all_data' is not defined

In [3]:
import matplotlib.pyplot as plt

months = range(1,13)
print(months)

plt.bar(months,all_data.groupby(['Month']).sum()['Sales'])
plt.xticks(months)
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

#Question 2: What city sold the most product?

In [4]:
all_data.groupby(['City']).sum()

NameError: name 'all_data' is not defined

In [5]:
import matplotlib.pyplot as plt

keys = [city for city, df in all_data.groupby(['City'])]

plt.bar(keys,all_data.groupby(['City']).sum()['Sales'])
plt.ylable('Sales in USD ($)')
plt.xlabel('Month number')
plt.xticks(keys, rotation='vertical', size=8)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

Question 3: What time should we display advetisements to maximize likelihood of customer's buying product?

#add hour column

In [7]:
all_data['Hour'] = pd.to_datetime(all_data['Order Date']).dt.hour
all_data['Minute'] = pd.to_datetime(all_data['Order Date']).dt.minute
all_data['Count'] = 1
all_data.head()

NameError: name 'pd' is not defined

In [8]:
keys = [pair for pair, df in all_data.groupby(['Hour'])]

plt.plot(keys, all_data.groupby(['Hour']).count()['Count'])
plt.xticks(keys)
plt.grid()
plt.show()

NameError: name 'all_data' is not defined

Question 4: What products are most often sold together?

In [10]:
df = all_data[all_data['Order ID'].duplicated(keep=False)]

df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))
df2 = df[['Order ID', 'Grouped']].drop_duplicates()

NameError: name 'all_data' is not defined

In [12]:
from itertools import combinations 
from collections import Counter

count = Counter()

for row in df2['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))
    
for key,value in count.most_common(10):
    print(key, value)

NameError: name 'df2' is not defined

#What product sold the most? Why do you think it sold the most?

In [13]:
product_group = all_data.groupby('Product')
quantity_ordered = product_group.sum()['Quantity Ordered']

keys = [pair for pair, df in product_group]
plt.bar(keys, quantity_ordered)
plt.xticks(keys, rotation='vertical', size=8)
plt.show()

NameError: name 'all_data' is not defined

In [ ]:
prices = all_data.groupby('Product').mean()['Price Each']

fig, ax1 = plt.subplots()

ax2 = ax1.twinx()
ax1.bar(keys, quantity_ordered, color='g')
ax2.plot(keys, prices, color='b')

ax1.set_xlabel('Product Name')
ax1.set_ylabel('Quantity Ordered', color='g')
ax2.set_ylable('Price ($)', color='b')
ax1.set_xticklabels(keys, rotation='vertical', size=8)

fig.show()